*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box ;
}
body{
	background: url(https://c.wallhere.com/photos/ab/d7/1600x900_px_New_York_City_street_taxi_Tilt_Shift_Traffic-545545.jpg!d);
	margin:25px;
}
.contenedor{
	width: 95%;
	max-width:1000px;
	margin:auto;
	padding: 2px;	
}
.contenedor2{
	width: 95%;
	max-width:1000px;
	margin:auto;
	padding: 2px;
}
header nav{
	background: deepskyblue;
	margin-bottom: 10px;
}
header nav ul{
   list-style: none;
   overflow: hidden;
}
header nav ul li{
   float: left;
}
header nav ul li a{
	display: block;
	padding: 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
header nav ul li a:hover{
	background: crimson;
}

div img{
	width: 110px;
	border-radius: 10px;
	float: left;

}
h1{
	text-align: center;
	color: black;
	padding: 20px;
}
.titulo{
	text-align: center;
	color: crimson;
	padding: 40px;
	display: block;
	font-size: 40px;
}
.contenido{
	background-color:rgb(234, 237, 237);
	opacity:0.6;
	padding: 33px;
	border: 2px solid black;
	border-radius: 5px;
}
.contenido p{
	font-size: 20px;
	text-align: justify;
	padding-bottom: 150px;
}
.pie_de_pagina p{
	font-size: 20px;
	color: black;
}