*{
	box-sizing: border-box;
}
body{
	margin:0;
	font-family: sans-serif;
	background:url(https://c.wallhere.com/photos/ab/d7/1600x900_px_New_York_City_street_taxi_Tilt_Shift_Traffic-545545.jpg!d);
}
h1{
	color:white;
	text-align: center;
}
.form-register{
	width: 95%;
	max-width: 400px;
	margin: auto;
	background:white;
	border-radius: 7px;
}
.form-titulo{
	background:deepskyblue;
	color: white;
	padding: 20px;
	text-align: center;
	font-weight: 100
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson; 
}
.contenedor-inputs{
    padding: 10px 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-100{
	width: 100%;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.btn-enviar{
	background: crimson;
	color: white;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
}
.btn-enviar:active{
	transform: scale(1.10);
}
.form__link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}