*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box ;
}
 	body{
		background: url(https://images6.alphacoders.com/543/543246.jpg);
		margin:25px;
		background-size: cover;

}


		.contenedor{
			width: 95%;
			max-width:1000px;
			margin:auto;
			padding: 2px;	
}
		.contenedor2{
			background: orange;
			width: 95%;
			max-width:1000px;
			margin:auto;
			padding: 2px;


}
		header nav{
			background: deepskyblue;
			margin-bottom: 10px;
}
		header nav ul{
   			list-style: none;
   			overflow: hidden;
}
		header nav ul li{
 			float: left;
}
		header nav ul li a{
			display: block;
			padding: 20px;
			color: white;
			text-decoration: none;
			font-size: 20px;
}
		header nav ul li a:hover{
			background: crimson;
}

		div img{
			width: 110px;
			border-radius: 10px;
			float: left;

}
		h1{
			text-align: center;
			color: black;
			padding: 20px;
}
		.titulo{
			text-align: center;
			color: crimson;
			padding: 40px;
			display: block;
			font-size: 40px;
}
		.contenido{
			padding: 33px;
			border: 3px solid #62FFA4;
			border-radius: 10px;
			padding-bottom: 50%;


}
		.foto img {
			 width: 55%;
			 border: 5px;
			 
			 background: url(imagen.png) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

 
}
 

		.pie_de_pagina p{	
			font-size: 20px;
			color: black;
			font-size: 20px;
			color: black;
			position: absolute;
		  	top: 41em;	
		  	left:10%;
		    width: 20em;
		    height: 2.5em;
}
		.contenido h1 {
			color: black;
}
		.texto p{
			background-color:#E1FC98;
		    display: #2FDFC8;
		  	position: absolute;
		  	bottom: -12px;
		 	left: 10;
		  	padding: 10px;
			width: 37.8%;

		}
		.texto input{
	
      	     position: absolute;
  			 top: 48.5em;
   			 left:25.5%;
   	 	 	 width: 20em;
   			 height: 2.5em;



		}