body{
	        margin:0;
	        font-family: monospace;
	        background:url(https://images6.alphacoders.com/543/543246.jpg);
	        background-size: cover;
		}
		h1{
	        color:;
	        text-align: center;
	        font-size: 30px;
	    }
		.contenedor{
			display: grid;
			grid-template-columns: 0.5fr 1.3fr 1.2fr;
            grid-template-rows: 15vh 70vh 15vh;
			height: 100vh;
			margin: 5% 10%;
			grid-gap: 5px 5px;
			grid-template-areas:"logo titulo formulario" 
                                "descripcion descripcion formulario"
                                "piedepagina piedepagina formulario"
		}
		
		.logo{
			grid-area: logo;
		}
		.logo img{
            border-radius: 10px;
		}
		.titulo h1{
			grid-area: titulo;
			text-align: center;
			color: deepskyblue;
		}
		.descripcion{
			grid-area: descripcion;
			padding: 10%;
		}
		.descripcion p{
			color: #FFFFFF;
			font-size: 26px;
			font-family: cursive;
			text-align: justify;

		}
		.formulario{
			grid-area: formulario;
			padding: 5%;
		}
		.formulario h1{
			font-size: 30px;
			color:   white;
		}
		.piedepagina{
			grid-area: piedepagina;
		}
		.piedepagina p{
            color: white;

		}
		.logo img{
			width: 100%;
			height: 100%;
		}

        .form-register{
	        width: 95%;
	        max-width: 500px;
	        margin: auto;
	        background:white;        
	        border-radius: 7px;
        }
        .form-titulo{
	        background:deepskyblue;
	        color: #FFFFFF;
	        padding: 20px;        
	        text-align: center;
	        font-weight: 100
	        font-size: 30px;
	        border-top-left-radius: 7px;
	        border-top-right-radius: 7px;
	        border-bottom: 5px solid crimson; 
	        
        }
        .contenedor-inputs{
            padding: 0px 20px;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .input-48{
	        width: 39%;
        }
        .input-100{
	        width: 100%;
        }
        input{
	        margin-bottom: 15px;
	        padding: 15px;
	        font-size: 16px;
	        border-radius: 3px;
	        border: 1px solid darkgray;
        }
        .btn-enviar{
	       background: crimson;
	       color: white;
	       margin: auto;
	       padding: 10px 40px;
	       cursor: pointer;
        }
        .btn-enviar:active{
	       transform: scale(1.10);
        }
        .form__link{
           width: 100%;
           margin: 7px;
           text-align: center;
           font-size: 14px;
        }
	